<%= form_for(@super_hero) do |f| %>
  <% if @super_hero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@super_hero.errors.count, "error") %> prohibited this super_hero from being saved:</h2>

      <ul>
      <% @super_hero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :real_name %><br>
    <%= f.text_field :real_name %>
  </div>
  <div class="field">
    <%= f.label :hero_name %><br>
    <%= f.text_field :hero_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
